# The best pattern people should follow is ignoring the editors' files in their
# global .gitignore configuration file.
# However, in order to prevent issues. We also ignore editors' files here.
.idea
.vscode
.vercel

*.log
.DS_STORE
/.storybook-static
/.eslintcache
/.cache
/.next
/.env
/coverage
/tmp
build
node_modules
package-lock.json
.yalc
yalc.lock
